<div style="text-align: center;">
<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h2 class="text-uppercase font-weight-bold">Acerca de:</h2>
        <h4>Esta es una tienda de angular store de gemas, creada por Arnoldo Realivazquez Guaderrama</h4>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h2 class="text-uppercase font-weight-bold">Agradecimientos:</h2>
        <h4>Gracias por el conocimento y las herraminetas con las que nos enseño este semestre.</h4>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <h2><div class="footer-copyright text-center py-3">© 2020 Copyright: 
    <a href="www.youtube.com">YouTube </a>
  </div></h2>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>